:root {
    --color-white: rgb(255, 255, 255);
    --color-dark: #171717;
    --color-grey: #444;
    --color-grey-light: #E5E5E5;
    --color-red: #DA0038;
    --color-red-light: #E3A3B4;
    --color-blue: #293659;
    --color-blue-light: #3071E7;
}