.admin-header {
    background-color: rgb(var(--color-blue-light));
    box-shadow: 0 0.25rem 0.5rem 0 rgba(var(--color-grey), 0.25);
    display: flex;
    justify-content: flex-end;
    column-gap: 1.25rem;
    padding: 0.75rem 1.25rem;
    position: sticky;
    top: 0;

    &__icon {
        display: flex;

        &:hover {
            .svg-fill,
            .svt-stroke {
                opacity: 0.75;
            }
        }

        &:active {
            transform: scale(1.05);
        }
    }
}
