.admin-label {
    display: inline-flex;
    flex-direction: column;
    row-gap: 0.25rem;

    &__error {
        color: rgb(var(--color-red));
        font-size: 0.85rem;
    }

    &._error {
        color: rgb(var(--color-red));

        .admin-label__input{
            border-color: rgb(var(--color-red));
        }
    }
}
