@import './aside';
@import './btn';
@import './form';
@import './header';
@import './input';
@import './label';

.admin {
    &-wrapper {
        display: flex;
        min-height: 100vh;

        &__content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &__main {
            background-color: rgb(var(--color-grey-light));
            flex-grow: 1;
            padding: 1.25rem;
            overflow: auto;
        }
    }
}